<h1>Apple Ounter</h1>

<div>
  <div id="count">
    <%= @count %> Apples
  </div>
  <div>
    <div><%= button_to 'Add', add_path %></div>
    <div><%= button_to 'Remove', remove_path %></div>
  </div>
  <div id="log">
    This is the tag
  </div>
<div>


